#pfy-form-container h1 {
  color: #c4975c; }

.pfy-form-container form input.long {
  position: relative;
  top: 10px;
  left: 45px;
  width: 530px;
  height: 450px;
  padding: 0 10px;
  background: transparent url(/images/input-bg-light.png) no-repeat; }
  .pfy-form-container form input.long input[type=text] {
    text-align: center;
    height: 64px;
    font-size: 50px;
    font-weight: bold;
    color: #4d3e31;
    width: 530px;
    padding: 10px 0 0 0;
    margin-bottom: 20px; }
    .pfy-form-container form input.long input[type=text].separator {
      margin-top: 63px; }
    .pfy-form-container form input.long input[type=text].light {
      color: #eccfb2; }
