#pfy-form-container form fieldset
  padding: 20px
  p, h1
    font-famil:y "Kreon", Verdana, sans-serif
  h1, label
    color: #c4975c
  p
    color: #efe5d7
    font-size: 18px

      
.pfy-form-container form
  .pfy-form-container .pfy-form-row 
  padding-top: 20px
  input.long
    background: transparent url(/images/input-bg-light.png) top left no-repeat
    text-align: center
    height: 73px
    font-size: 50px
    font-weight: bold
    width: 500px
    border: none
    color: #eccfb2
  #tester_submit
    width: 100%
    background: none
    border: none
    color: #aa5d1e
    font-size: 20px
    text-transform: uppercase
    font-weight: bold