@import url('reset.css')
@import url('colorbox.css')

body
  background: #44392e url(../images/wood-bg.jpg) no-repeat
  width: 640px
  height: 960px

body, a, p, div, li, h1, h2
  font-family: 'Kreon', Verdana, sans-serif
  font-weight: bold
  color: #555
a
  text-decoration: none
  color: #cb610b
  

