@import url('reset.css')
@import url('colorbox.css')
@import url('jquery.mobile.css')

body, a, p, div, li, h1, h2, td, input
  font-family: 'Kreon', Verdana, sans-serif
  font-weight: regular
  font-size: 28px
  color: #CCC
a
  text-decoration: none
  color: #cb610b

.description
  font-size: 12px

td
  padding: 10px

body
  background: #44392e url(/images/wood-bg.jpg) no-repeat
  width: 580px
  height: 900px
  padding: 10px 20px

body#login
  background: #44392e url(/images/login.jpg) no-repeat
  #code-input 
    position: absolute
    top: 545px
    left: 128px
    input
      padding: 15px 0 0 19px
      width: 450px
      height: 64px
      background-color: transparent
      border: none
      font-size: 50px
      font-weight: bold
      color: #4d3e31
      letter-spacing: 53px      
  
#top-nav
  padding: 10px 0
  li
    display: inline
    padding: 0 35px
    font-weight: bold