/*****************************************************************************/
/* Landing: Style */
/*****************************************************************************/

$red: #8d1822;
$green: #188d43;
$gray: #ACACAC;
$black: #0b0f12;

$error: #ec4755;

.landing-container {
  margin-top: 15%;
  img {
    padding-bottom: 45px;
  }
  p {
    color: $gray;
  }
  h6 {
    margin: 45px 0 15px;
    text-align: center;
  }
}

#email-input {
  background: none;
  border: 1px solid $red;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  font-size: 18px;
  color: $red;
  outline: 0;
  &:focus {
    background: $red;
    color: white;
    & + #email-submit {
      background: $black;
      color: $red; 
    }
  }
}

#email-input::-webkit-input-placeholder {
    color: $red;
}
#email-input:-moz-placeholder {
    color: $red;
}
#email-input::-moz-placeholder {
    color: $red;
}
#email-input:-ms-input-placeholder {
    color: $red;
}

#email-submit {
  padding: 10px;
  background: $red;
  color: $black;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  text-align: right;

  &:hover {
    background: $black;
    color: $red;
  }
}

#invite-form {
  input {
    -webkit-transition: background-color 500ms linear, color 500ms linear, border-color 500ms linear;
    -moz-transition: background-color 500ms linear, color 500ms linear, border-color 500ms linear;
    -o-transition: background-color 500ms linear, color 500ms linear, border-color 500ms linear;
    -ms-transition: background-color 500ms linear, color 500ms linear, border-color 500ms linear;
    transition: background-color 500ms linear, color 500ms linear, border-color 500ms linear;
  }
  &.valid {
    input {
      background: $green !important;
      color: white !important;
      border-color: $green !important;
    }
  }
  h4.in-use {
    display: none;
    color: $error;
  }
}
