/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
$black: #0b0f12;
$red: #8d1922;

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  div {
    height: 100%;
  }
}

@import "client/templates/layouts/master_layout/master_layout.scss";
@import "client/templates/shared/loading/loading.scss";
@import "client/templates/shared/not_found/not_found.scss";

@import "client/templates/splash/splash.scss";
